
body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;

}

/*h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 100;
}*/

h1 {
    /*font-family: "PT Sans", sans-serif;*/
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 200;
    line-height: 36px;
    font-size: 33px;
}

h2 {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 27px;
}

h3 {
   font-family: "Source Sans Pro",sans-serif;
   font-weight: 200;
   line-height: 24px;
   font-size: 22px;
   color: grey;
 }

 p {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 200;
    line-height: 19px;
    font-size: 16px;
    /*max-width: 600px;*/
}

h1, h2, h3, h4{
  /*color: #999;*/
}

h1 a, h2 a, h4 a{
  text-decoration: none;
  color: black;
}

h3 a{
  color: #999;
}

a {
    color: steelblue;
    /*color: grey;
    text-decoration: none;
    font-weight: 400;*/
    /*font-size: 18px;*/
    /*font-weight: 100;*/
}

.container{
  margin-left: 20px;
  margin-right: 20px;
  clear: both;
}

/*header information*/

.header{
  padding-bottom: 0px;
  padding-top: 30px;
}

/*.header h1{
  float: left;
  display: inline;
  font-size: 32px;
  font-weight: 100;
  padding-right: 20px;
}*/

.header-title{
    clear: both;
    padding-top: 20px;
    padding-top: 30px;
}

.header h1, .header h2, .header h3{
    display: inline;
    padding-right: 20px;
    /*padding-top: 30px;*/
}

/*.header h2{

  display: inline;
  font-size: 28px;
  font-weight: 100;
  line-height: 30px;
  padding-right: 20px;
}

.header h3{
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
}*/


.breadcrumbs{
  display: inline;
  float: left;
  /*line-height: 30px;*/
}

.gistlink {
  color: black;
  font-weight: lighter;
}

/*.toplinks a{
  color: grey;
  padding-left: 20px;
  font-weight: 100;
  text-decoration: none;
}*/

.toplinks{
  display: inline;
  float: right;
  line-height: 38px;
}

.toplinks a{
  /*color: grey;*/
  padding-left: 20px;
  /*font-weight: 100;*/
  text-decoration: none;
}

.icons a{
  color: grey;
  padding-left: 10px;
  font-size: 22px;
  /*font-weight: 100;*/
  text-decoration: none;
}

.readme{
  max-width: 750px;
  padding-left: 50px;
}

/*Columns*/

.gists {
    max-width: 980px;
}
.column {
    max-width: 980px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}

.gists .gist--thumbnail {
    height: 120px;
    color: #000;
}
.gists .gist {
    width: 130px;
    background-position: 50% 0%;
    border: solid 1px #eee;
    border-bottom: solid 1px #ccc;
    overflow: hidden;
    /*-webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;*/
    display: inline-block;
    float: left;
    line-height: normal;
    margin: 5px 20px 10px 0;
    position: relative;
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    /*-webkit-transition: ease 750ms background-position;
    -moz-transition: ease 750ms background-position;
    -ms-transition: ease 750ms background-position;
    -o-transition: ease 750ms background-position;
    transition: ease 750ms background-position;*/
}

.gists .gist-description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 55px;
    padding-top: 5px;
    padding-left: 5px;
}

/*iframe information*/

iframe {
  width: 940px;
  height: 500px;
}

iframe {
  /*border: solid 1px #eee;
  border-bottom: solid 1px #ccc;*/
  border: none;
}

/* tables information*/
table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    /*display: table;*/
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px;
}

/*buttons*/

.btn-group > .btn{
    position: relative;
    float: left;
}


.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(88, 83, 83, 0.17);
  color: rgba(88, 83, 83, 0.95);
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;

}
